#slidestory-frame {
        width:700px;
        max-width:100%;
        text-align:center;
        margin:15px auto;
}
#slidestory-frame img {
        height:100%;
        overflow:hidden;
        display:none;
}
#slidestory-control {
        margin:15px 0;
        text-align:center;
}
#slidestory-control button {
        margin:5px;
}
#slidestory-text {
	width:680px;
	max-width:100%;
	margin:auto;
	border-radius:10px;
	box-shadow:0 0 10px #000 inset;
	padding:10px;
}
/*Don't edit the css below here*/
#slidestory-text div {
        display:none;
}
#slidestory-frame img.show-slide {
        display:inline-block;
}
#slidestory-text div.show-slide {
        display:block;
}
