#slidestory-frame {
        width:100%;
        max-width:700px;
        text-align:center;
        margin:15px auto;
}
#slidestory-frame img {
        height:100%;
        overflow:hidden;
        display:none;
}
#slidestory-control {
        margin:15px 0;
        text-align:center;
}
#slidestory-control a {
        margin:0 10px;
        text-decoration:underline;
}
#slidestory-control a:hover {
        cursor:pointer;
}
#slidestory-text {
	/*add your own css here*/
}
#slidestory-text div {
        display:none;
}
#slidestory-frame img.show-slide {
        display:inline-block;
}
#slidestory-text div.show-slide {
        display:block;
}
